#heading{
	background-color:whitesmoke;
	height: 100px;
	color: blue;
	text-align : center;
	margin : 0;
	font-size : 48px;
	padding-top: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	/* border-bottom: solid 25px white; */

}



#body{
	background-image:#6bc9bb
	/* background-image: linear-gradient(black, white);	 */
}



.image{
	position: relative;
	width : 10%;
	left:  45%	;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.data{
	margin-top: 10px;
	background-color: white;
	/* margin-top:  */
	padding: 10px 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* text-align: center */
}

.attr{
	font-weight: bold;

}

.value{
	/* align */-content: center;
	margin-left:   10%;
	text-align: left;
}

.name{
	font-family: sans-serif;
	font-weight: bold;	

}	

.pDetails{
	padding : 10px 10px;
	/* background-color: silver */
}




.pDetails li{
	/* font-family: ; */
	padding : 5px;
}




.pDetails ol{
	/* 	background-color: grey */
	font-weight: bold;
}	


.table{
	margin-top: 10px;
	width: 80%	
}

.table ,.table td,.table th{
	border-collapse: collapse;
	border: solid 1px black;
	padding : 5px;
	text-align: center;

}

.table th{
		height: 35px;
		color:white;
		background-color: black
	}

.request{
	position: relative;
	text-align: center;
}


.send{
	margin-top: 10px;
	background-color: grey;
	width: 100px;
	height: 25px;
}


