<!DOCTYPE html>
<html>
    <head>
        <title>
            Webpage
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <table class="table" style = "margin : 0 auto;">
            <thread class ="thread-dark">
                <tr>
                   <th scope="col">Sl.NO</th>
                   <th scope="col">USERNAME</th>
                   <th scope="col">PASSWORD</th>
                   <th scope="col">TIMESTAMP</th>
                </tr>
            </thread>
            {% set count = namespace(value = 1) %}
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ count.value }}</th>
                        {% set count.value = count.value + 1 %}
                        <td>{{ user.username }}</td>
                        <th>{{ user.password }}</th>
                        <td>{{ user.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
