<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <style>
        .container {
          color:white;
          width:20%;
        }
        .form-group{
          width:30%;
        }
        
      </style>
  </head>
  <body style = "background-color:rgb(218, 141, 79)">
  <style>
    .form-control{
          color:black;
        }
  </style>
  <div class="container">
  <br>
  <br>
  <br>
  <h1>SignIn / SignUp</h1>
  <h3>  Please Enter the Credentials</h3>
  <br>
  <form action="{{url_for('register')}}" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><h4>USERNAME :</h4></span>
      </div>
      <input type="Username" class="form-control" name="name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><h4>PASSWORD :</h4></span>
      </div>
      <input type="Password" class="form-control" name="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
    <br>
   
    <!-- </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Address</span>
      </div>
      <input type="Address" class="form-control" name="Address" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ContactNumber</span>
      </div>
      <input type="Integer" class="form-control" name="ContactNumber" placeholder="ContactNumber" aria-label="ContactNumber" aria-describedby="basic-addon1">
    </div> -->
    <br>
     <button type="submit" class="btn btn-danger">Register</button>
     <button type="submit" formaction="auth" class= "btn btn-danger" value="Login">Login</button>
      {% if name %}
    <h2>Hello {{name}} successfully registered.</h2>
      {% endif %}
      {% if name1 %}
    <h2>Hello {{name1}} Username already exists. please try other.</h2>
      {% endif %}
      {% if message %}
    <h2> {{message}}</h2>
      {% endif %}
    <br>
    <br>
  </body>
</html>


