<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <style>
        .container {
          color:white;
          width:20%;
        }
        .form-group{
          width:30%;
        }
        
      </style>
          <script>
            function funcValidate() {
                console.log("entered")
    
                var username = document.querySelector('#email').value;
                var passd = document.querySelector('#Password').value;
                var errorMessage = "";
    
    
                if (username.length === 0) {
                    document.querySelector('#error').innerHTML = "Please enter an email...!!!";
                    return false;
                }
    
                if (passd.length === 0){
                    document.querySelector('#error').innerHTML = "Please enter a password...!!!";
                    return false;
                }    
                 
                if ((/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(username)) {
    
                } else {
                    document.querySelector('#error').innerHTML = "Please enter a valid email as a username";
                    return false;
                }
    
    
                if (document.querySelector('#Password').value.length < 6 ) {
                    document.querySelector('#error').innerHTML = "Password should be atleast 6 characters.";
                    return false;
                }
    
                const pass = document.querySelector('#Password').value;
    
                if (!/[a-z]/.test(pass)) {
                    errorMessage += "Password should contain atleast one lowercase alphabet." + "\n"; 
                }
    
                if (!/[A-Z]/.test(pass)) {
                    errorMessage += "Password should contain atleast one uppercase alphabet." + "\n"; 
                }
                    
                if (!/[0-9]/.test(pass)) {
                    errorMessage += "Password should contain atleast one number." + "\n"; 
                }
    
                if (!/[!@#\$%\^\&*\)\(+=._-]/.test(pass)) {
                    errorMessage += "Password should contain atleast one symbol." + "\n"; 
                }
    
    
                if (errorMessage === ""){
                    return true;
                }
    
                document.querySelector('#error').innerHTML = errorMessage;
    
                return false;
    
              }
            </script>
  </head>
  <body style = "background-color:rgb(218, 141, 79)">
  <style>
    .form-control{
          color:black;
        }
  </style>
  <div class="container">
  <br>
  <br>
  <br>
  <h1>SignIn / SignUp</h1>
  <h3>  Please Enter the Credentials</h3>
  <br>
  <form  method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
      <label for="username" style="font-size: 18px; color: lightgray;">email *</label>
      <span id="error_username" class="text-danger"></span>
      </div>
      <input type="Username" class="form-control" name="name" placeholder="Email Id" aria-label="email" aria-describedby="basic-addon1" id = "email">

    </div>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><h4>PASSWORD :</h4></span>
      </div>
      <input type="Password" class="form-control" name="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id = "Password">
    </div>
    <br>
    <br>
    <button type="submit" onclick = "return funcValidate()" class="btn btn-danger" formaction = "{{ url_for('register') }}" id = "submit" style="background-color: blue; border-color: blue;">Sign Up</button>
    <button type="submit" formaction="{{ url_for('auth') }}" class= "btn btn-danger" value="Login">Login</button>
      {% if name %}
    <h2>Hello {{name}} successfully registered.</h2>
      {% endif %}
      {% if name1 %}
    <h2>Hello {{name1}} Username already exists. please try other.</h2>
      {% endif %}
      {% if message %}
    <h2> {{message}}</h2>
      {% endif %}
    <br>
    <br>
    <h4 id = "error" style = "text-align:left;padding-left:230px;color:orange;"></h4>
  </body>
</html>


